.background {
    -fx-background-color : rgb(33, 36, 40);
}

.foreground {
    -fx-background-color : rgb(18, 18, 18);
    -fx-background-radius : 20;
}

.menu-guide {
    -fx-text-fill: white;
    -fx-fill: white;
}

/* -------------------------------- Google Logo -------------------------------- */
.google-svg-1 {
    -fx-fill : rgb(234,67,53);
    -fx-scale-x : 1;
    -fx-scale-y : 1;
}
.google-svg-2 {
    -fx-fill : rgb(251,188,5);
    -fx-scale-x : 1;
    -fx-scale-y : 1;
}
.google-svg-3 {
     -fx-fill : rgb(52,168,83);
    -fx-scale-x : 1;
    -fx-scale-y : 1;
 }
.google-svg-4 {
     -fx-fill : rgb(66,133,244);
    -fx-scale-x : 1;
    -fx-scale-y : 1;
 }

/* -------------------------------- Bottom Buttons -------------------------------- */
.bottom-btn {
    -fx-background-color : transparent;
    -fx-text-fill : white;
    -fx-background-radius : 30;
}
.bottom-btn:hover {
    -fx-background-color : rgb(35, 39, 43);
}
.bottom-btn:pressed {
    -fx-background-color : rgb(37, 39, 43);
}

/* -------------------------------- Input Field -------------------------------- */
.input-field {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 3;
    -fx-border-color: rgb(60,62,61);
    -fx-border-radius: 3;
    -fx-pref-width : 304px;
    -fx-pref-height : 56px;
}

.input-field:hover {
    -fx-background-color: rgb(41,41,41);
}

.input-field:focused {
    -fx-border-color: rgb(136,166,255);
    -fx-border-width : 2;
}


/* -------------------------------- Create Account Button -------------------------------- */

.createAcnt-btn {
    -fx-background-color : transparent;
    -fx-background-radius : 30;
    -fx-text-fill : rgb(136,166,255);
    -fx-font-weight : bold;
    -fx-font-size : 13px;
}

.createAcnt-btn:hover {
    -fx-background-color : rgb(17,20,25);
}

.createAcnt-btn:pressed {
    -fx-background-color : rgb(17,26,41);
}

/* -------------------------------- Next Button -------------------------------- */

.next-btn {
    -fx-background-color : rgb(11,87,208);
    -fx-background-radius : 30;
    -fx-text-fill : white;
    -fx-font-weight : bold;
    -fx-font-size : 13px;
}

.next-btn:hover {
    -fx-background-color : rgb(14,78,181);
}

.next-btn:pressed {
    -fx-background-color : rgb(18,70,151);
}

/* -------------------------------- Log Section -------------------------------- */
.error-svg {
    -fx-fill : rgb(255,122,96);
    -fx-scale-x : 1;
    -fx-scale-y : 1;
}

.error-txt {
    -fx-fill: rgb(255,122,96);
}



