.background {
    -fx-background-color: black;
    -fx-border-color: black;
}

.text {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-fill: rgb(255, 255, 255);
}

.btn-view-all {
    -fx-background-color: transparent;
    -fx-border-color: rgb(41, 41, 41);
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-background-radius: 20;
}
.btn-view-all:hover {
    -fx-background-color: rgb(33,33,33);
}

.btn-view-all:pressed {
    -fx-background-color: rgb(50,50,50);
}
.scroll-pane {
    -fx-background-color: black;
    -fx-alignment: center;
}

.btn-view-channel {
    -fx-background-color: transparent;
    -fx-background-radius: 20;
    -fx-text-fill: white;
}

.btn-view-channel:hover {
    -fx-background-color: rgb(33,33,33);
}

.btn-view-channel:pressed {
    -fx-background-color: rgb(41,41,41);
}


.btn-video {
    -fx-background-color: black;
    -fx-padding: 6;
    -fx-background-radius: 5;
}

.btn-video:hover {
    -fx-background-color: rgb(33,33,33);
}

.btn-video:pressed {
    -fx-background-color: rgb(41,41,41);
}
