.vbxUpload {
    -fx-background-color: rgb(40, 40, 40);
}

.btnUpload {
    -fx-background-radius: 200;
    -fx-background-color: rgb(31, 31, 31);
}

.btnUpload:hover {
    -fx-background-color: rgb(37, 37, 37);

}

.btnUpload:pressed {
    -fx-background-color: rgb(45, 45, 45);
}

.svgUpload {
    -fx-fill: rgb(144, 144, 144);
}

.lblFormat {
    -fx-text-fill: rgb(160, 160, 160);
}

.btnSelect {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 100;
}

.btnSelect:hover {
    -fx-background-color: rgb(200,200,200);
}

.btnSelect:pressed {
    -fx-background-color: rgb(225,225,225);
}

.txtAgreement {
    -fx-fill: rgb(160,160,160);
}