.background {
    -fx-background-color : black;
}

.logo-btn {
    -fx-background-image: url("../Images/youtubeLogoLight.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-color : transparent;
}

.burger-lbl {
    -fx-shape : "M21 6H3V5h18v1zm0 5H3v1h18v-1zm0 6H3v1h18v-1z";
    -fx-background-color : white;
}

.burger-btn {
    -fx-background-color : transparent;
}

.burger-btn:hover {
    -fx-background-color : rgb(41, 41, 41);
    -fx-background-radius : 100;
}

.search-field {
    -fx-background-color : transparent;
    -fx-text-fill : white;
}

.search-btn {
    -fx-shape : "M16.296 16.996a8 8 0 11.707-.708l3.909 3.91-.707.707-3.909-3.909ZM18 11a7 7 0 11-14 0 7 7 0 0114 0Z";
    -fx-border-color : white;
    -fx-border-width : 1;
    -fx-background-color : black;
}

.search-btn:hover {
    -fx-border-color : red;
}

.search-bar {
    -fx-background-radius : 50;
    -fx-border-radius : 50;
    -fx-border-color : rgb(41,41,41);
    -fx-border-width : 2;
}

.search-bar:hover {
    -fx-background-color : rgb(41,41,41);
}

.signIn-svg {
    -fx-shape : "M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 1c4.96 0 9 4.04 9 9 0 1.42-.34 2.76-.93 3.96-1.53-1.72-3.98-2.89-7.38-3.03A3.996 3.996 0 0016 9c0-2.21-1.79-4-4-4S8 6.79 8 9c0 1.97 1.43 3.6 3.31 3.93-3.4.14-5.85 1.31-7.38 3.03C3.34 14.76 3 13.42 3 12c0-4.96 4.04-9 9-9zM9 9c0-1.65 1.35-3 3-3s3 1.35 3 3-1.35 3-3 3-3-1.35-3-3zm3 12c-3.16 0-5.94-1.64-7.55-4.12C6.01 14.93 8.61 13.9 12 13.9c3.39 0 5.99 1.03 7.55 2.98C17.94 19.36 15.16 21 12 21z";
    -fx-background-color : rgb(62, 166, 255);
    -fx-border-color : rgb(62, 166, 255);
}

.signIn-lbl {
    -fx-text-fill : rgb(62, 166, 255);
}

.signIn-btn {
    -fx-background-color : transparent;
    -fx-background-radius : 50;
    -fx-border-color : rgb(41, 41, 41);
    -fx-border-width : 3;
    -fx-border-radius : 50;
}

.signIn-btn:hover {
    -fx-background-color : rgb(41, 41, 41);
    -fx-background-radius : 50;
}










