/* -------------------------------- Background -------------------------------- */
.background {
    -fx-background-color : black;
    -fx-border-color : black;
}

/* -------------------------------- Scroll Pane -------------------------------- */
.scroll-pane {
    -fx-background-color: black;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: gray;
    -fx-background-radius: 10;
    -fx-pref-width: 15;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: rgb(33, 33, 33);
    -fx-background-radius: 10;
}

.scroll-bar .increment-button {
    -fx-background-color: rgb(0,0,0);
    -fx-shape: "M 0 0 L 4 4 L 8 0 Z";
}

.scroll-bar .decrement-button {
    -fx-background-color: rgb(0,0,0);
    -fx-shape: "M 0 4 L 4 0 L 8 4 Z";
}

.scroll-bar .increment-arrow {
    -fx-background-color: #000;
}

.scroll-bar .decrement-arrow {
    -fx-background-color: #000;
}

.flwpane {
    -fx-background-color : black;
    -fx-border-color : black;
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-hgap: 50;
    -fx-vgap: 30;
}

.btn-video {
    -fx-background-color: black;
    -fx-padding: 6;
    -fx-background-radius: 5;
}

.btn-video:hover {
    -fx-background-color : rgb(33,33,33);
}

.btn-video:pressed {
    -fx-background-color: rgb(41,41,41);
}

.vbx-welcome {
    -fx-background-color: rgb(33,33,33);
    -fx-background-radius: 10;
    -fx-border-color: rgb(100,100,100);
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.lbl-welcome {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.lbl-guide {
    -fx-text-fill: rgb(150,150,150);
}


