/* -------------------------------- Background -------------------------------- */
.background {
    -fx-background-color : black;
    -fx-border-color : black;
}

/* -------------------------------- Scroll Pane -------------------------------- */
.scroll-pane {
    -fx-background-color: black;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: rgb(41,41,41);
    -fx-background-radius: 10;
    -fx-pref-width: 15;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: rgb(33, 33, 33);
    -fx-background-radius: 10;
}

.scroll-bar .increment-button {
    -fx-background-color: rgb(0,0,0); /* Red background */
    -fx-shape: "M 0 0 L 4 4 L 8 0 Z"; /* Custom shape */
}

/* Style for the decrement arrow button */
.scroll-bar .decrement-button {
    -fx-background-color: rgb(0,0,0);
    -fx-shape: "M 0 4 L 4 0 L 8 4 Z"; /* Custom shape */
}

.scroll-bar .increment-arrow {
    -fx-background-color: #000; /* White color for the arrow */
}

.scroll-bar .decrement-arrow {
    -fx-background-color: #000; /* White color for the arrow */
}

.flwpane {
    -fx-background-color : black;
    -fx-border-color : black;
    -fx-alignment: center;
    -fx-padding: 10 0;
    -fx-hgap: 20;
    -fx-vgap: 20;
}



