/* -------------------------------- BackGround -------------------------------- */
.background {
    -fx-background-color : black;
}

/* -------------------------------- Youtube Logo -------------------------------- */
.youtube-svg {
        -fx-fill : white;
        -fx-scale-x : 1.2;
        -fx-scale-y : 1.2;
}

/* -------------------------------- Burger Button -------------------------------- */
.burger-svg {
    -fx-fill : white;
    -fx-scale-x : 1;
    -fx-scale-y : 1;
}

.burger-btn {
    -fx-background-color : transparent;
    -fx-pref-width : 40px;
    -fx-pref-height : 40px;
    -fx-background-radius : 100;
}

.burger-btn:hover {
    -fx-background-color : rgb(33, 33, 33);
}

.burger-btn:pressed {
    -fx-background-color : rgb(41, 41, 41);
}

/* -------------------------------- Search Bar -------------------------------- */
.search-field {
    -fx-background-color : transparent;
    -fx-text-fill : white;
}

.search-svg {
    -fx-fill : white;
    -fx-scale-x : 1;
    -fx-scale-y : 1;
}

.search-svg:hover {
    -fx-fill : red;
}

.search-svg:pressed {
    -fx-fill : rgb(139, 0, 0);
}

.search-btn {
    -fx-background-color : transparent;
    -fx-background-radius : 100;
    -fx-border-radius : 100;
}

.search-bar {
    -fx-background-radius : 50;
    -fx-border-radius : 50;
    -fx-border-color : rgb(33,33,33);
    -fx-border-width : 2;
}

.search-bar:hover {
    -fx-background-color : rgb(33,33,33);
}

/* -------------------------------- SignIn Button -------------------------------- */
.signIn-svg {
    -fx-fill : rgb(62, 166, 255);
    -fx-scale-x : 1;
    -fx-scale-y : 1;
}

.signIn-lbl {
    -fx-text-fill : rgb(62, 166, 255);
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.signIn-btn {
    -fx-background-color : transparent;
    -fx-background-radius : 50;
    -fx-border-color : rgb(33, 33, 33);
    -fx-background-radius : 50;
    -fx-border-width : 3;
    -fx-border-radius : 50;
    -fx-pref-width: 89px;
    -fx-pref-height: 34px;
}

.signIn-btn:hover {
    -fx-background-color : rgb(38, 56, 80);
    -fx-border-color : rgb(38, 56, 80);

}

.signIn-btn:pressed {
    -fx-background-color : rgb(50,50,60);
    -fx-border-color : rgb(50,50,60);
}

/* -------------------------------- Create Button -------------------------------- */
.create-svg {
    -fx-fill : white;
    -fx-scale-x : 1;
    -fx-scale-y : 1;
}

/* -------------------------------- Notifications Button -------------------------------- */
.notifications-svg {
    -fx-fill : white;
    -fx-scale-x : 1;
    -fx-scale-y : 1;
}

/* -------------------------------- Account Button -------------------------------- */
.account-img {
    -fx-background-image: url("../Images/SrgtSajjad.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-color : transparent;
    -fx-pref-width: 23px;
    -fx-pref-height: 23px;
}

/* -------------------------------- LoggedIn Button Group -------------------------------- */
.loggedIn-btn {
    -fx-background-radius : 100;
    -fx-background-color : transparent;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

.loggedIn-btn:hover {
    -fx-background-color : rgb(33, 33, 33);
}

.loggedIn-btn:pressed {
    -fx-background-color : rgb(41, 41, 41);
}
