/* -------------------------------- BackGround -------------------------------- */
.background {
    -fx-background-color : black;
    -fx-pref-width : 206px;
    -f-spacing : 0px;
    -fx-padding: 15px;
}
/* -------------------------------- Home Button -------------------------------- */
.home-svg {
    -fx-fill : white;
    -fx-scale-x : 1.2;
    -fx-scale-y : 1.2;
}

.home-lbl {
    -fx-text-fill : white;
    -fx-font-size : 15;
    -fx-pref-width : 42px;
    -fx-pref-height : 12px;
}

/* -------------------------------- Subscriptions Button -------------------------------- */
.subscriptions-svg {
    -fx-fill : white;
    -fx-scale-x : 1.2;
    -fx-scale-y : 1.2;
}

.subscriptions-lbl {
    -fx-text-fill : white;
    -fx-font-size : 15;
    -fx-pref-width : 89px;
    -fx-pref-height : 22px;
}

/* -------------------------------- Dashboard Button -------------------------------- */
.dashboard-svg {
    -fx-fill : white;
    -fx-scale-x : 1.2;
    -fx-scale-y : 1.2;
}

.dashboard-lbl {
    -fx-text-fill : white;
    -fx-font-size : 15;
    -fx-pref-width : 74px;
    -fx-pref-height : 22px;
}

/* -------------------------------- Side Button Group -------------------------------- */
.side-btn {
    -fx-background-color : transparent;
    -fx-pref-width : 199px;
    -fx-pref-height : 36px;
}

.side-btn:hover {
    -fx-background-color : rgb(33, 33, 33);
    -fx-background-radius : 8;
}

.side-btn:pressed {
    -fx-background-color : rgb(41, 41, 41);
}

/* -------------------------------- Separator -------------------------------- */
.separator-horizontal .line {
    -fx-border-color : rgb(33,33,33);
    -fx-border-width : 1;
}

/* -------------------------------- Expanded Side Bar -------------------------------- */
.flow-pane {
    -fx-alignment : center-left;
    -fx-vgap: 10px;
    -fx-hgap: 40px;
}
