/* -------------------------------- BackGround -------------------------------- */
.background {
    -fx-background-color : black;
    -fx-pref-width : 42px;
    -f-spacing : 70px;
    -fx-padding: 15px 0px 0px 0px;
}

/* -------------------------------- Home Button -------------------------------- */
.home-svg {
    -fx-fill : white;
    -fx-scale-x : 1;
    -fx-scale-y : 1;
}

.home-lbl {
    -fx-text-fill : white;
    -fx-font-size : 10;
    -fx-pref-width : 27px;
    -fx-pref-height : 8px;
}

/* -------------------------------- Subscriptions Button -------------------------------- */
.subscriptions-svg {
    -fx-fill : white;
    -fx-scale-x : 1;
    -fx-scale-y : 1;
}

.subscriptions-lbl {
    -fx-text-fill : white;
    -fx-font-size : 10;
    -fx-pref-width : 60px;
    -fx-pref-height : 15px;
}

/* -------------------------------- You Button -------------------------------- */
.you-svg {
    -fx-fill : white;
    -fx-scale-x : 1;
    -fx-scale-y : 1;
}

.you-lbl {
    -fx-text-fill : white;
    -fx-font-size : 10;
    -fx-pref-width : 18px;
    -fx-pref-height : 15px;
}

/* -------------------------------- Side Button Group -------------------------------- */
.side-btn {
    -fx-background-color : transparent;
    -fx-pref-width : 199px;
    -fx-pref-height : 70px;
}

.side-btn:hover {
    -fx-background-color : rgb(33, 33, 33);
    -fx-background-radius : 8;
}

.side-btn:pressed {
    -fx-background-color : rgb(41, 41, 41);
}

/* -------------------------------- Separator -------------------------------- */
.separator-vertical .line {
    -fx-border-color : rgb(33,33,33);
    -fx-border-width : 1;
}

/* -------------------------------- Collapsed Side Bar -------------------------------- */
.flow-pane {
    -fx-alignment : center;
    -fx-vgap: 5px;
    -fx-hgap: 40px;
}
