/* -------------------------------- BackGround -------------------------------- */
.background {
    -fx-background-color : black;
}
/* -------------------------------- Home Button -------------------------------- */
.home-svg {
    -fx-fill : white;
    -fx-scale-x : 1;
    -fx-scale-y : 1;
}
/* -------------------------------- Subscriptions Button -------------------------------- */
.subscriptions-svg {
    -fx-fill : white;
    -fx-scale-x : 1;
    -fx-scale-y : 1;
}

/* -------------------------------- Dashboard Button -------------------------------- */
.dashboard-svg {
    -fx-fill : white;
    -fx-scale-x : 1;
    -fx-scale-y : 1;
}

/* -------------------------------- Side Button Group -------------------------------- */
.side-btn {
    -fx-background-color : transparent;
    -fx-pref-width : 199px;
    -fx-pref-height : 36px;
}

.side-btn:hover {
    -fx-background-color : rgb(33, 33, 33);
    -fx-background-radius : 8;
}

.side-btn:pressed {
    -fx-background-color : rgb(41, 41, 41);
}

/* -------------------------------- Separator -------------------------------- */
.separator-horizontal .line {
    -fx-border-color : rgb(33,33,33);
    -fx-border-width : 1;
}

/* -------------------------------- Expanded Side Bar -------------------------------- */
.expand-flow-pane {
    -fx-alignment : center-left;
}

/* -------------------------------- Collapsed Side Bar -------------------------------- */
.collapse-flow-pane {
    -fx-alignment : center;
}

