.vbx-video-preview {
    -fx-alignment : top-center;
    -fx-background-color : black;
    -fx-padding: 0;
    -fx-pref-width: 260;
    -fx-pref-height: 225;
    -fx-spacing: 5;
}


.hbx-video-details {
    -fx-alignment : top-center;
    -fx-padding: 0 10;
    -fx-spacing: 5;
    -fx-background-color:transparent;
}

.vbx-text-details {
    -fx-alignment: top-left;
    -fx-background-color:transparent;
}

.add-btn {
    -fx-background-color : transparent;
    -fx-background-radius : 100;
}

.add-btn:hover {
    -fx-background-color : rgb(33, 33, 33);
}
.add-btn:pressed {
    -fx-background-color : rgb(41, 41, 41);
}